body {
  background-color: #111;
  color: #fff;
  margin: 0;
  border: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  
  
  /*margin: auto;*/
}


::-webkit-scrollbar {
	width: 0;
}


canvas {
  display: block;
  outline: none;
}

a:link, a:visited {
  color: #7ab5ff;
  
  text-decoration: underline;
  cursor: pointer;
}

table {
  background-color: green;
}