html, body {
  background-color: #111;
  color: #ddd;
  margin: 5px;
  border: 1px solid #333;
  padding: 10px;
  font-family: Roboto, sans-serif;
}

canvas {
  display: block;
}

a:link, a:visited {
  color: dodgerBlue;
  text-decoration: underline;
  cursor: pointer;
}