html {
  background-color: #111;
  color: white;
  margin: 0;
  border: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

canvas {
  display: block;
}

a:link, a:visited {
  color: #9bf;
  text-decoration: underline;
  cursor: pointer;
}

ul {
  color: pink;
}

ol {
  color: red;
}

h2 {
  color: green;
  background-color: red;
}

#yeetmaster69 {
  background-color: blue;
}

.bottom-button {
  background-color: red;
}

.top-button {
  background-color: green;
}

#middle-top-button {
  background-color: pink;
}
/* The container */
