html, body {
  background-color: #111;
  color: #fff;
  margin: 0;
  border: 0;
  padding: 0;
	font-family: Roboto, sans-serif;
	
	overflow:hidden
}
canvas {
  display: block;
  outline: none;
}

a:link, a:visited {
  color: #7ab5ff;
  
  text-decoration: underline;
  cursor: pointer;
}